{% extends "base.html" %}

{% block content %}

<div class="gaming-card p-4">

<h2>OTP Login</h2>

<input
id="phone"
class="form-control mb-3"
placeholder="+91XXXXXXXXXX">

<div id="recaptcha-container"></div>

<button
id="sendOtp"
class="btn btn-warning w-100">

Send OTP

</button>

</div>

<script>

window.firebaseConfig={
apiKey:"{{firebase.apiKey}}",
authDomain:"{{firebase.authDomain}}",
projectId:"{{firebase.projectId}}"
};

</script>

<script type="module" src="/static/js/firebase.js"></script>
<script type="module" src="/static/js/otp.js"></script>

{% endblock %}
