.gaming-card{

background:linear-gradient(135deg,#111,#1d1d1d);

border:1px solid #ff7b00;

border-radius:20px;

box-shadow:0 0 25px rgba(255,123,0,.5);

transition:.3s;

}

.gaming-card:hover{

transform:translateY(-4px);

box-shadow:0 0 35px #ff9800;

}

.stat-box{

text-align:center;

padding:18px;

background:#222;

border-radius:15px;

margin-bottom:10px;

}

.stat-box h3{

color:#ff9800;

font-weight:700;

}

@media(max-width:768px){

.gaming-card{

margin-bottom:20px;

}

}
