.gaming-card{

background:linear-gradient(
135deg,
#111,
#1c1c1c
);

border:1px solid #ff6600;

border-radius:20px;

box-shadow:0 0 30px rgba(255,102,0,.5);

}

.gaming-card:hover{

box-shadow:0 0 45px #ff8800;

transform:translateY(-4px);

}
