.gaming-card{

background:linear-gradient(135deg,#111,#181818);

border:1px solid orange;

border-radius:20px;

box-shadow:0 0 20px rgba(255,136,0,.5);

transition:.3s;

}

.gaming-card:hover{

transform:translateY(-5px);

box-shadow:0 0 35px orange;

}

.transaction-row{

display:flex;

justify-content:space-between;

padding:10px 0;

border-bottom:1px solid rgba(255,255,255,.1);

}

.footer{

background:#000;

padding:40px;

margin-top:60px;

border-top:1px solid orange;

color:#fff;

}

.countdown-box{

background:#111;

padding:12px;

text-align:center;

border:2px solid orange;

border-radius:10px;

font-size:22px;

color:#fff;

}
