
{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row mb-4">

<div class="col-md-4">

<div class="gaming-card p-4 text-center">

<h3>{{total_players}}</h3>

Players

</div>

</div>

<div class="col-md-4">

<div class="gaming-card p-4 text-center">

<h3>{{total_tournaments}}</h3>

Tournaments

</div>

</div>

<div class="col-md-4">

<div class="gaming-card p-4 text-center">

<h3>CSV Upload</h3>

Ready

</div>

</div>

</div>

<div class="gaming-card p-4">

<h4>Upload Match Result CSV</h4>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

{{form.as_p}}

<button class="btn btn-warning">

Upload

</button>

</form>

</div>

{% endblock %}
