
{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 class="mb-4">🔥 Live Leaderboard</h2>

<table class="table table-dark leaderboard-table">

<thead>

<tr>

<th>Rank</th>
<th>Player</th>
<th>Kills</th>
<th>Placement</th>
<th>Reward</th>

</tr>

</thead>

<tbody id="leaderboardBody">

{% for r in results %}

<tr>

<td>{{forloop.counter}}</td>

<td>{{r.player.username}}</td>

<td>{{r.kills}}</td>

<td>#{{r.placement}}</td>

<td>₹{{r.reward}}</td>

</tr>

{% endfor %}

</tbody>

</table>

<script src="{% static 'js/leaderboard.js' %}"></script>

{% endblock %}
