{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="gaming-card p-4">

<h2>{{tournament.title}}</h2>

<p>Entry Fee: ₹{{tournament.entry_fee}}</p>

<p>Prize Pool: ₹{{tournament.prize_pool}}</p>

<p>Status: {{tournament.status}}</p>

{% if registration %}

{% if registration.paid %}

<div class="alert alert-success">

<h3>Room Unlocked</h3>

<p><strong>Room ID:</strong></p>

<input id="roomid"
class="form-control"
value="{{tournament.room_id}}"
readonly>

<p class="mt-3"><strong>Password:</strong></p>

<input id="roompass"
class="form-control"
value="{{tournament.room_password}}"
readonly>

<div class="row mt-4">

<div class="col-md-6">

<button
class="btn btn-warning w-100"
onclick="copyRoom()">

Copy Room

</button>

</div>

<div class="col-md-6">

<button
class="btn btn-success w-100"
onclick="sendWhatsApp()">

WhatsApp

</button>

</div>

</div>

</div>

{% else %}

<div class="alert alert-warning">

Payment Pending

</div>

<a href="/payments/create-order/"
class="btn btn-warning">

Pay Now

</a>

{% endif %}

{% else %}

<a href="/register/{{tournament.id}}/"
class="btn btn-danger">

Join Tournament

</a>

{% endif %}

</div>

<script src="{% static 'js/room.js' %}"></script>

{% endblock %}
